#AdvancedHTMLParser==9.0.1
beautifulsoup4==4.9.3
bs4==0.0.1
#fake-useragent==0.1.11
random-user-agent==1.0.1
requests==2.26.0
#requests-file==1.5.1
#requests-ftp==0.3.1
requests-html==0.10.0
requestsexceptions==1.4.0
selenium==4.1.0
stem==1.8.0
urllib3==1.26.6
webdriver_manager=3.5.2
#websocket-client==1.2.3
#websockets==10.1
selenium-wire==4.6.3
